<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JSDoc: Source: components/AddTutorial.vue</title>

    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
</head>

<body>

<div id="main">

    <h1 class="page-title">Source: components/AddTutorial.vue</h1>

    



    
    <section>
        <article>
            <pre class="prettyprint source linenums"><code>&lt;template>
  &lt;div class="submit-form">
    &lt;div v-if="!submitted">
      &lt;div class="form-group">
        &lt;label for="title">Title&lt;/label>
        &lt;input
          type="text"
          class="form-control"
          id="title"
          required
          v-model="tutorial.title"
          name="title"
        />
      &lt;/div>

      &lt;div class="form-group">
        &lt;label for="description">Description&lt;/label>
        &lt;input
          class="form-control"
          id="description"
          required
          v-model="tutorial.description"
          name="description"
        />
      &lt;/div>

      &lt;button @click="saveTutorial" class="btn btn-success">Submit&lt;/button>
    &lt;/div>

    &lt;div v-else>
      &lt;h4>You submitted successfully!&lt;/h4>
      &lt;button class="btn btn-success" @click="newTutorial">Add&lt;/button>
    &lt;/div>
  &lt;/div>
&lt;/template>

&lt;script>
import TutorialDataService from "../services/TutorialDataService";
/**
 * Component for adding a new tutorial.
 * Provides form inputs for title and description, and a submit button to save the tutorial.
 */
export default {
  name: "add-tutorial",
  data() {
    /**
     * Data function that holds the state of the component.
     * @returns {Object} The state data of the component.
     */
    return {
     // The tutorial object with properties for binding to form inputs.

      tutorial: {
        id: null,
        title: "",
        description: "",
        published: false
      },
      submitted: false      // Flag to track if the form is submitted.
    };
  },
  methods: {
    /**
     * Saves the tutorial to the database.
     * Sends a POST request to the backend with the tutorial data.
     */
    saveTutorial() {
      var data = {
        title: this.tutorial.title,
        description: this.tutorial.description
      };

      TutorialDataService.create(data)
        .then(response => {
          this.tutorial.id = response.data.id;
          console.log(response.data);
          this.submitted = true;
        })
        .catch(e => {
          console.log(e);
        });
    },

    /**
     * Resets the form to allow entering a new tutorial.
     */
    newTutorial() {
      this.submitted = false;
      this.tutorial = {};
    }
  }
};
&lt;/script>

&lt;style>
.submit-form {
  max-width: 300px;
  margin: auto;
}
&lt;/style>
</code></pre>
        </article>
    </section>




</div>

<nav>
    <h2><a href="index.html">Home</a></h2><h3>Modules</h3><ul><li><a href="module-AddTutorial.html">AddTutorial</a></li><li><a href="module-App.html">App</a></li><li><a href="module-Tutorial.html">Tutorial</a></li><li><a href="module-TutorialsList.html">TutorialsList</a></li></ul><h3>Classes</h3><ul><li><a href="TutorialDataService.html">TutorialDataService</a></li></ul><h3>Global</h3><ul><li><a href="global.html#router">router</a></li></ul>
</nav>

<br class="clear">

<footer>
    Documentation generated by <a href="https://github.com/jsdoc/jsdoc">JSDoc 4.0.2</a> on Tue Jan 09 2024 11:37:06 GMT+0000 (Coordinated Universal Time)
</footer>

<script> prettyPrint(); </script>
<script src="scripts/linenumber.js"> </script>
</body>
</html>
